$white: #fdfdfd;

body {
  background: $white; // Using this variable
  margin: 40px
}

h1 {
  font-family: Helvetica, sans-serif;
  padding: 20px;
}

h2 {
  font-family: Helvetica, sans-serif;
  padding: 20px;
  border-left: 5px solid lightgray;
}

.answer {
  background-color: lightgoldenrodyellow;
}


a {
  color: grey;
  &:hover {
    color: black;
  }
}
